# dependencies
node_modules/

# expo
.expo/
dist/
web-build/
expo-env.d.ts

# native
android/
ios/
*.apk
*.aab

# metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env / secrets
.env*.local
.env

# IDE
.vscode/
.idea/
